<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @text_content.content_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @text_content.text %>
</p>

<%= link_to 'Edit', edit_text_content_path(@text_content) %> |
<%= link_to 'Back', text_contents_path %>
