<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @element.content_type %>
</p>

<p>
  <strong>Page:</strong>
  <%= @element.page_id %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
