<p id="notice"><%= notice %></p>


<p>
  <strong>Page:</strong>
  <%= @element.page_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @element.content_type %>
  <%
    output_html = ''
    case @element.content_type
      when 'Title'
        output_html = @element.title_content.title
      when 'Text'
        output_html = @element.text_content.text
      when 'Image'
        output_html = "<img src='" + @element.image_content.uri + "' class='image-content-tag' />"
      when '2'
        #blah
      else
        #blah
    end
  %>
</p>

<h3>Value:</h3>
<h1>
    <%= output_html.html_safe %>
</h1>


<%= link_to 'Edit', edit_page_element_path(@element.page_id, @element) %> |
<%= link_to 'Back', page_path(@element.page_id) %>