<h1>Listing nav_points</h1>

<table>
  <thead>
    <tr>
      <th>Nav content</th>
      <th>Lat</th>
      <th>Long</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nav_points.each do |nav_point| %>
      <tr>
        <td><%= nav_point.nav_content_id %></td>
        <td><%= nav_point.lat %></td>
        <td><%= nav_point.long %></td>
        <td><%= link_to 'Show', nav_point %></td>
        <td><%= link_to 'Edit', edit_nav_point_path(nav_point) %></td>
        <td><%= link_to 'Destroy', nav_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nav point', new_nav_point_path %>
