<h1>Listing elements</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Page</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.content_type %></td>
        <td><%= element.page_id %></td>
        <td><%= link_to 'Show', api_page_element_path(element.page, element) %></td>
        <td><%= link_to 'Edit', edit_api_page_element_path(element.page, element) %></td>
        <td><%= link_to 'Destroy', api_page_element_path(element.page, element), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Element', new_api_page_element_path %>
