<p id="notice"><%= notice %></p>


<p>
  <strong>Page:</strong>
  <%= @element.page_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @element.content_type %>
  <%
    output_html = ''
    case @element.content_type
      when 'TitleContent'
        output_html = @element.content.title || ''
      when 'TextContent'
        output_html = @element.content.text || ''
      when 'ImageContent'
        output_html = "<img src='" + @element.content.uri + "' class='image-content-tag' />"
      when 'NavContent'
        #blah
      else
        #blah
    end
  %>
</p>

<h3>Value:</h3>
<pre>
    <%= output_html.html_safe %>
</pre>


<%= link_to 'Edit', edit_api_page_element_path(@element.page_id, @element) %> |
<%= link_to 'Back', api_page_path(@element.page_id) %>