<h1>Listing image_contents</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Uri</th>
      <th>Target</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @image_contents.each do |image_content| %>
      <tr>
        <td><%= image_content.content_id %></td>
        <td><%= image_content.uri %></td>
        <td><%= image_content.target %></td>
        <td><%= link_to 'Show', image_content %></td>
        <td><%= link_to 'Edit', edit_image_content_path(image_content) %></td>
        <td><%= link_to 'Destroy', image_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image content', new_image_content_path %>
