<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @image_content.content_id %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @image_content.uri %>
</p>

<p>
  <strong>Target:</strong>
  <%= @image_content.target %>
</p>

<%= link_to 'Edit', edit_image_content_path(@image_content) %> |
<%= link_to 'Back', image_contents_path %>
