<p id="notice"><%= notice %></p>

<p>
  <strong>Nav content:</strong>
  <%= @nav_point.nav_content_id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @nav_point.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @nav_point.long %>
</p>

<%= link_to 'Edit', edit_nav_point_path(@nav_point) %> |
<%= link_to 'Back', nav_points_path %>
