<%= form_for(@title_content) do |f| %>
  <% if @title_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title_content.errors.count, "error") %> prohibited this title_content from being saved:</h2>

      <ul>
      <% @title_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content_id %><br>
    <%= f.number_field :content_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
