<h1>Listing title_contents</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @title_contents.each do |title_content| %>
      <tr>
        <td><%= title_content.content_id %></td>
        <td><%= title_content.title %></td>
        <td><%= link_to 'Show', title_content %></td>
        <td><%= link_to 'Edit', edit_title_content_path(title_content) %></td>
        <td><%= link_to 'Destroy', title_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Title content', new_title_content_path %>
