<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @title_content.content_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @title_content.title %>
</p>

<%= link_to 'Edit', edit_title_content_path(@title_content) %> |
<%= link_to 'Back', title_contents_path %>
